html{
    transition: opacity 0.10s ease-out, transform 0.10s ease-out;
}
.screen{
    position: absolute;
}
body{
    background-image: url('https://raw.githubusercontent.com/marcalehub/data-engineer/master/img/bc1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: .900;
}
p1{
    text-align: center;
    display: flex;
    flex-direction: column;
}
a{
    gap: 100px;
}
h1{
    color:white;
    border-radius:9px;
    margin:auto;
    background: darkblue;
    font-size: 30px;
    text-align: center;
}
p{
    margin:10px;
    font-size: 13px;
    text-align: justify;
}
pr{
    margin:10px;
    font-size: 17px;
    text-align: justify;
}
span{
    margin: 0 0 -30 ;
    font-size: 13px;
    text-align: justify;
}
.images{
    mix-blend-mode: multiply;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
.column {
    float: left;
    width: 20.00%;
    padding: 18px;
  }
.card{
    margin: 90px 10px;
    background: #fff;
    border-radius: 25px;
    padding: 20px;
    opacity: 0;
    box-shadow: 0 10px 13px 0 rgba(0, 0, 0, 0.10), 0 12px 40px 0 rgba(0, 0, 0, 0.20);
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    display: flex;
    flex-direction: column;

}
.card.show{
    opacity: 1;
    transform: translateY(0);
}
.flip-card {
    margin: auto auto 20px;
    background: transparent;
    border-radius: 25px;
    width: 220px;
    height: 200px;
    padding: 20px;
    box-shadow: 0 10px 13px 0 rgba(0, 0, 0, 0.10), 0 12px 40px 0 rgba(0, 0, 0, 0.20);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    display: flex;
    flex-direction: column;
    text-align: center;
    perspective: 1000px;

}
.flip-card-inner {
position: relative;
width: auto;
height: auto;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
position: absolute;
width: auto;
height: auto;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}
.flip-card-front {
background-color: #bbb;
color: black;
}
.flip-card-back {
background-color: whitesmoke;
color: black;
transform: rotateY(180deg);
}